@use "src/scss/global.scss" as *;

.numberBox {
  position: relative;

  .back {
    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    position: relative;
  }

  .front,
  .back {
    width: 150px;
    height: 135px;
    background: linear-gradient(to bottom, #2c2c44 52%, #34364f 48%);
    box-shadow: 0px 8.5px 0px 0px #1a1a24;
    text-align: center;
    padding-top: 7.5px;
    font-size: 80px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: bold;
    border-radius: 8px;

    p {
      background: linear-gradient(to bottom, #d55272 48%, #dc6081 52%);
      -webkit-background-clip: text;
      color: transparent;
    }

    hr {
      position: absolute;
      top: 52%;
      left: 0;
      right: 0;
      height: 0.2px;
      background-color: #27293d2f;
      z-index: 2;
      border: 0;
    }

    .circleRight,
    .circleLeft {
      width: 7px;
      height: 10px;
      background-color: #191a25;
      z-index: 3;
      position: absolute;
      top: 47.5%;
      transition: all 0.3s ease;
    }

    .circleRight {
      right: 0;
      border-radius: 100% 0 0 100%;
    }

    .circleLeft {
      left: 0;
      border-radius: 0 100% 100% 0;
    }
  }

  @media (max-width: $xl) {
    .front,
    .back {
      width: 127.5px;
      height: 114.75px;
      box-shadow: 0px 7.225px 0px 0px #1a1a24;
      padding-top: 6.375px;
      font-size: 68px;
      border-radius: 6.8px;

      .circleRight,
      .circleLeft {
        width: 5.25px;
        height: 7.5px;
      }
    }
  }

  @media (max-width: $md) {
    .front,
    .back {
      width: 105px;
      height: 94.5px;
      box-shadow: 0px 5.95px 0px 0px #1a1a24;
      padding-top: 5.25px;
      font-size: 56px;
      border-radius: 5.6px;

      .circleRight,
      .circleLeft {
        width: 3.15px;
        height: 5.5px;
      }
    }
  }

  @media (max-width: $sm) {
    .front,
    .back {
      width: 59.4px;
      height: 53.46px;
      box-shadow: 0px 3.366px 0px 0px #1a1a24;
      padding-top: 2.97px;
      font-size: 31.68px;
      border-radius: 3.168px;

      .circleRight,
      .circleLeft {
        width: 1.62px;
        height: 3.43px;
      }
    }
  }

  .box-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;

    color: #736d81;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 750;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    margin-bottom: 10px;

    @media (max-width: $xl) {
      bottom: -45px;
      letter-spacing: 0.5em;
      font-size: 11px;
    }

    @media (max-width: $lg) {
      bottom: -42.5px;
      letter-spacing: 0.4em;
      font-size: 10px;
    }

    @media (max-width: $md) {
      bottom: -35px;
      letter-spacing: 0.3em;
      font-size: 8px;
    }

    @media (max-width: $sm) {
      bottom: -25px;
      letter-spacing: 0.2em;
      font-size: 5px;
    }
  }
}
