@use "src/scss/global.scss" as *;

body {
  overflow: hidden;
}

.main-page {
  background-color: #231d2b;
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/pattern-hills.svg"), url("../../../public/images/bg-stars.svg");
  background-repeat: repeat-x, repeat;
  background-position: bottom center, center, center;
  background-size: 100%, 100%;

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 75%;
    gap: 50px;
  }

  .InputButtonContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  footer {
    width: 125px;
    height: 24px;
    position: absolute;
    bottom: 4.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $xl) {
    background-size: 150%, 100%;
  }

  @media (max-width: $md) {
    background-size: 140%, 100%;

    main {
      gap: 30px;
    }
  }

  @media (max-width: $sm) {
    background-size: 130%, 100%;

    main {
      gap: 20px;
    }

    footer {
      bottom: 2%;
      width: 100px;
    }
  }
}
